@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {


    /* THEME 1 */
    --t1-calc-background: hsl(222, 26%, 31%);
    --t1-keypad-background: hsl(223, 31%, 20%);
    --t1-output-background: hsl(224, 36%, 15%);

    --t1-remove-background: hsl(225, 21%, 49%);
    --t1-remove-shadow: hsl(224, 28%, 35%);

    --t1-equal-background: hsl(6, 63%, 50%);
    --t1-equal-shadow: hsl(6, 70%, 34%);

    --t1-key-background: hsl(30, 25%, 89%);
    --t1-key-shadow: hsl(28, 16%, 65%);
    
    --t1-key-color: hsl(221, 14%, 31%);
    --t1-output-color: hsl(0, 0%, 100%);
    --t1-special-key-color: hsl(0, 0%, 100%);
    --t1-equal-key-color: hsl(0, 0%, 100%);

    /* THEME 2 */
    --t2-calc-background: hsl(0, 0%, 90%);
    --t2-keypad-background: hsl(0, 5%, 81%);
    --t2-output-background: hsl(0, 0%, 93%);

    --t2-remove-background: hsl(185, 42%, 37%);
    --t2-remove-shadow: hsl(185, 58%, 25%);

    --t2-equal-background: hsl(25, 98%, 40%);
    --t2-equal-shadow: hsl(25, 99%, 27%);

    --t2-key-background: hsl(45, 7%, 89%);
    --t2-key-shadow: hsl(35, 11%, 61%);

    --t2-key-color: hsl(60, 10%, 19%);
    --t2-output-color: hsl(60, 10%, 19%);
    --t2-special-key-color: hsl(0, 0%, 100%);
    --t2-equal-key-color: hsl(0, 0%, 100%);

    /* THEME 3 */
    --t3-calc-background: hsl(268, 75%, 9%);
    --t3-keypad-background: hsl(268, 71%, 12%);
    --t3-output-background: hsl(269, 74%, 12%);

    --t3-remove-background: hsl(281, 89%, 26%);
    --t3-remove-shadow: hsl(285, 91%, 52%);

    --t3-equal-background: hsl(176, 100%, 44%);
    --t3-equal-shadow: hsl(177, 92%, 70%);

    --t3-key-background: hsl(268, 47%, 21%);
    --t3-key-shadow: hsl(290, 70%, 36%);

    --t3-key-color: hsl(52, 100%, 62%);
    --t3-output-color: hsl(52, 100%, 62%);
    --t3-special-color: hsl(0, 0%, 100%);
    --t3-equal-key-color: hsl(198, 20%, 13%);
}

body {
    min-width: 100%; 
    min-height: 100vh;
}

.t1Body {
    background-color: var(--t1-calc-background);
}

.t2Body {
    background-color: var(--t2-calc-background);
}

.t3Body {
    background-color: var(--t3-calc-background);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 32px;
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;

    gap: 20px;
    justify-content: space-between;

}

.t1Main {
    background-color: var(--t1-calc-background);
}

.t2Main {
    background-color: var(--t2-calc-background);
}

.t3Main {
    background-color: var(--t3-calc-background);
}

@media screen and (max-width: 815px) {

    main {
        width: 90%;
        min-height: 100vh;
        margin: 0 auto;
    }

    .calcButton {
        width: 80px;
    }
}

@media screen and (min-width: 815px) {

    main {
        max-width: 60%;
        margin: 0 auto;
    }

    .calcButton {
        width: 110px;
    }
}

.heading {
    display: flex; 
    justify-content: space-between;

    align-items: center;

    padding: 20px;

    width: 90%;
}

.t1Heading {

    color: var(--t1-output-color);
}

.t2Heading {
    color: var(--t2-output-color);
}

.t3Heading {
    color: var(--t3-output-color);
}



.inputs {
    width: 90%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.t1Inputs {
    background-color: var(--t1-keypad-background);
}

.t2Inputs {
    background-color: var(--t2-keypad-background);
}

.t3Inputs {
    background-color: var(--t3-keypad-background);
}

.t1Header {
    color: var(--t1-output-color);
}

.t2Header {
    color: var(--t2-output-color);
}

.t3Header {
    color: var(--t3-output-color);
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.calcButton {
    padding: 20px;
    border-radius: 10px;

    height: 80px;

    outline: none;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.t1CalcButton {
    background-color: var(--t1-key-background);
    color: var(--t1-key-color);
    box-shadow: 0px 10px var(--t1-key-shadow);
}

.t2CalcButton {
    background-color: var(--t2-key-background);
    color: var(--t2-key-color);
    box-shadow: 0px 10px var(--t2-key-shadow);
}

.t3CalcButton {
    background-color: var(--t3-key-background);
    color: var(--t3-key-color);
    box-shadow: 0px 10px var(--t3-key-shadow);
}

.calcButton:active {
    transform: translateY(4px);
}

.t1CalcButton:active {

    box-shadow: 0px 6px  var(--t1-key-shadow);
}

.t2CalcButton:active {
    box-shadow: 0px 6px var(--t2-key-shadow);
}

.t3CalcButton:active {
    box-shadow: 0px 6px var(--t3-key-shadow);
}

.selectedTheme {

    width: 10px; 
    height: 10px; 

    border-radius: 50%;

    position: absolute;

    transform: translateY(30px);
}

.t1SelectedTheme {
    background-color: var(--t1-equal-background);
}

.t2SelectedTheme {
    background-color: var(--t2-equal-background);
}

.t3SelectedTheme {
    background-color: var(--t3-equal-background);
}

.bottomButton {

    outline: none;
    border: none;

    width: 47%;
    padding: 20px;

    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.equalButton:active {
    transform: translateY(4px);
}

.t1EqualButton {
    background-color: var(--t1-equal-background);
    color: var(--t1-equal-key-color);

    box-shadow: 0px 10px var(--t1-equal-shadow);
}

.t2EqualButton {
    background-color: var(--t2-equal-background);
    color: var(--t2-equal-key-color);
    box-shadow: 0px 10px var(--t2-equal-shadow);
}

.t3EqualButton {
    background-color: var(--t3-equal-background);
    color: var(--t3-equal-key-color);
    box-shadow: 0px 10px var(--t3-equal-shadow);
}

.equalButton:active {
    transform: translateY(4px);
}

.t1EqualButton:active {

    box-shadow: 0px 6px var(--t1-equal-shadow);
}

.t2EqualButton:active {
    box-shadow: 0px 6px var(--t2-equal-shadow);
}

.t3EqualButton:active {
    box-shadow: 0px 6px var(--t3-equal-shadow);
}

.t1DeleteContainer .delKey {

    font-size: 24px;
}

.removeButton {
    font-size: 32px;
    text-transform: uppercase;
    cursor: pointer;
}

.removeButton:active {
    transform: translateY(4px);
}

.t1RemoveButton {
    background-color: var(--t1-remove-background);
    color: var(--t1-special-key-color);
    box-shadow: 0px 10px var(--t1-remove-shadow);
}

.t2RemoveButton {
    background-color: var(--t2-remove-background);
    color: var(--t2-special-key-color);
    box-shadow: 0px 10px var(--t2-remove-shadow);
}

.t3RemoveButton {
    background-color: var(--t3-remove-background);
    color: var(--t3-special-color);
    box-shadow: 0px 10px var(--t3-remove-shadow);
}

.t1RemoveButton:active {
    box-shadow: 0px 6px var(--t1-remove-shadow);
}

.t2RemoveButton:active {
    box-shadow: 0px 6px var(--t2-remove-shadow);
}

.t3RemoveButton:active {
    box-shadow: 0px 6px var(--t3-remove-shadow);
}


.themeSwitcher {
    display: flex;
    gap: 10px;

    align-items: end;
}

.themeSelectionBackground {
    width: 90px; 
    height: 30px;
    border-radius: 20px;
}

.t1ThemeSelectionBackground {
    background-color: var(--t1-keypad-background);
}

.t2ThemeSelectionBackground {
    background-color: var(--t2-keypad-background);
}

.t3ThemeSelectionBackground {
    background-color: var(--t3-keypad-background);
}

.outputContainer {

    display: flex; 
    align-items: center;
    justify-content: end;
    height: 60px;
    width: 90%;
    padding: 20px;

    border-radius: 15px;
}

.t1OutputContainer {
    background-color: var(--t1-output-background);
}

.t2OutputContainer {
    background-color: var(--t2-output-background);
}

.t3OutputContainer {
    background-color: var(--t3-output-background);
}

.output {
    text-align: center;
    font-size: 48px;
}

.t1Output {
    color: var(--t1-output-color);
}

.t2Output {
    color: var(--t2-output-color);
}

.t3Output {
    color: var(--t3-output-color);
}

.themeOptionsContainer {

    display: flex; 
    gap: 20px;
}

.t1ThemeClicker {

    display: flex; 
    justify-content: space-around;

    background-color: transparent;
    outline: none;
    border: none;

    cursor: pointer;
}

.themeOptions {
    font-size: 18px;
}

.t1ThemeOptions {
    color: var(--t1-output-color);
}

.t2ThemeOptions {
    color: var(--t2-output-color);
}

.t3ThemeOptions {
    color: var(--t1-output-color);
}
